<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<style>

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0D1117;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
  }
  .form-box input {
    width: 90%;
    background-color: aliceblue;
    padding: 10px;
    margin: 0 auto 10px auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-box button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .form-box button:hover {
    background-color: #0056b3;
  }
  .toggle-link {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007BFF;
  }
</style>
</head>
<body>
<div class="form-container">
  <div class="form-box">
    <h2 id="form-title">Sign Up</h2>
    <form id="signin-form" action="/user/signin" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Sign In</button>
    </form>

  </div>
</div>


</head>
</body>
</html>